
<div class="posts">
    <h1>{{name}} Posts</h1>
    {{#if posts}}
        {{#each posts}}

            <div class="post">
                <div class="item like"><span class="likeIcon material-symbols-outlined">thumb_up</span></div>
                <div class="item likeCount" id="{{_id}}">{{likeCount}}</div>
                <div class="item dislike"><span class="dislikeIcon material-symbols-outlined">thumb_down</span></div>
                <div class="item username">Created by {{userName}}</div>
                <div class="item locationName">{{locationName}}, {{city}}</div>
                <div class="item locationDetails">{{locationDetails}}</div>
            </div>
        {{/each}}
    {{else}}
        <p style="margin-bottom: 404.5px;">No Posts to show</p>
    {{/if}}
</div>